@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*MOBILE*/
/*
@media only screen and (max-width: 1080px) {    
    html, body {	        
        -ms-touch-action: pan-x;
        touch-action: pan-x; 
    }
}
*/
/*DESKTOP*/
/*
@media only screen and (min-width: 1081px) {
}
*/

@font-face {
    font-family: 'Otto Attac Type';
    src: url('/fonts/OttoAttacType-Regular.woff2') format('woff2'),
        url('/fonts/OttoAttacType-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
    font-display: swap;
}

html, body {	  
    margin: 0 auto; padding: 0; width: 100%; height: 100%; color: #000000;
    font-family: "Verdana"; overflow: hidden; 
}
  
#canvas {
    height: 100%; width: 100%; touch-action: none;
    z-index: 1; 
}

#lghtbx{
    position: absolute;
    display: block;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;    
    background-color: #000000; 
    opacity: 0.9;
    z-index: 10; 
}

#layover{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;        
    z-index: 9; 
}

#curtain{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    background-color: #94c29a; 
    opacity: 0.8;
    z-index: 9; 
}


#embedVimeo{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    background-color: #000000;     
    z-index: 10; 
}

#openedIMG{    
    position: absolute;
    display: block;        
    left: 50%;
    top: 50%;
    z-index: 10; 
    background-color: #ffffff;
}

#openedIMG img{ 
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#frametop{
    position: absolute;
    display: block;
    background-color: #e7f2e8;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px; 
    z-index: 8; 
    font-family: 'Otto Attac Type';
    font-size: 26px;    
    padding-top: 4px;
    text-align: center;  
    line-height: 33px;
}

#logo{
    position: absolute;
    left: 33px;
    top: 2px;
    font-family: 'Otto Attac Type';
    font-size: 26px;        
    text-align: center;  
    font-weight: bold;
}

#msgwindow{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;    
    margin-left: -300px;
    margin-top: -300px;
    background-color: #94c29a; 
    opacity: 1;
    z-index: 11;
    font-family: verdana;
    font-size: 14px; 
    text-align: left;  
    padding: 33px;  
    color: #352a2a;
}

#frameleft{
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(231,242,232,1) 0%, rgba(148,194,153,1) 100%);
    top: 0;
    left: 0;
    width: 33px;
    height: 100%; 
    z-index: 8; 
}

#frameright{
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(231,242,232,1) 0%, rgba(148,194,153,1) 100%);
    top: 0;
    right: 0;
    width: 33px;
    height: 100%; 
    z-index: 8; 
}

#framebottom{
    position: absolute;
    display: block;
    background-color: #94c299;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33px; 
    z-index: 8; 
    font-family: 'Otto Attac Type';
    font-size: 26px;
    text-align: center;
    padding-top: 4px;
    line-height: 33px;

}

a:link, a:visited {
	text-decoration: none; color: #ffffff;
}
a:hover, a:active {
	text-decoration: none; color: #ad0035;
}

a.homemenu:link, a.homemenu:visited {
	text-decoration: none; color: #c00029;
}
a.homemenu:hover, a.homemenu:active {
	text-decoration: none; color: #9e0728;
}

a.workmenu:link, a.workmenu:visited {
	text-decoration: none; color: #2554d9;
}
a.workmenu:hover, a.workmenu:active {
	text-decoration: none; color: #1543c2;
}

a.learnmenu:link, a.learnmenu:visited {
	text-decoration: none; color: #c00029;
}
a.learnmenu:hover, a.learnmenu:active {
	text-decoration: none; color: #9e0728;
}

a.playmenu:link, a.playmenu:visited {
	text-decoration: none; color: #377b45;
}
a.playmenu:hover, a.playmenu:active {
	text-decoration: none; color: #265a31;
}

#closeX{
    position: absolute; top: 10px; right: 10px;
    display: block;
    width: 11px;
    height: 10px;
    z-index: 12; 
}

#closeX a:link, #closeX a:visited, #closeX a:active {	    
    position: absolute; top: 10px; right: 10px;
    display: block;
    width: 11px;
    height: 10px;
    background-image: url('/images/x.png');
    background-repeat: no-repeat;
}
#closeX a:hover {
    background-position: -11px 0;
}

#txtconsole{
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    width: 200px;
    height: 20px;
    z-index: 10;  
    color: #53a3e1;  
    background-color: #111111;
    padding: 5px;
}

#menuPlay{    
    position: absolute; top: 10px; left: 10px;
    display: block;
    width: 1000px;
    height: 1000px;
    z-index: 11;      
    color: #000000;   
}

#menuLearn{    
    position: absolute; top: 10px; left: 10px;
    display: block;
    width: 1000px;
    height: 1000px;
    z-index: 12;   
    color: #000000;
}

#menuWork{    
    position: absolute; top: 10px; left: 10px;
    display: block;
    width: 1000px;
    height: 1000px;
    z-index: 13;      
    color: #000000; 
}


